{% extends S_SIMPLE_MESSAGE ? 'base_simple.html' : 'base.html' %}

{% block content %}

<div class="panel" id="message">
	<div class="inner">
	<h2 class="message-title">{{ MESSAGE_TITLE }}</h2>
	<p>{{ MESSAGE_TEXT }}</p>
	{% if SCRIPT_NAME == "search" and not S_BOARD_DISABLED and not S_NO_SEARCH and L_RETURN_TO_SEARCH_ADV %}
		<p>
			<a href="{{ U_SEARCH }}" class="arrow-{{ S_CONTENT_FLOW_BEGIN }}" accesskey="r">
				{{ Icon('font', 'angle-' ~ S_CONTENT_FLOW_BEGIN, lang('GO_TO_SEARCH_ADV'), true, 'fas c-return-arrow-icon') }}
			</a>
		</p>
	{% endif %}
	</div>
</div>

{% endblock %}
